body {
  margin: 0;
  background: url("/images/black-smooth-wooden-textured-background.jpg");
}
.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  margin-top: 20px;
}
.heading {
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  font-size: 40px;
  color: #813772;
}
h1 {
  margin: 0;
}
.logo {
  margin-top: 30px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
nav li {
  list-style: none;
}
nav a {
  color: #813772;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
}
.product {
  max-width: 800px;
  width: 300px;
  height: 400px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  background-color: #010101;
  font-size: 1.05rem;
  border-radius: 10px;
}
.product img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
}
.product h3 {
  margin-top: 0;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.product p {
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.product-header {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #813772;
}
.product-btn {
  background-color: #813772;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
  font-size: 1.05rem;
  display: inline-block;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
footer {
  display: flex;
  justify-content: space-around;
  color: #813772;
  padding: 15px;
  margin-top: 20px;
}
.front-page-product {
  display: flex;
}
.front-page-product img {
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  object-fit: cover;
}
